$white: #ffffff;
$black: #000000;
$dkGray: #303030;
$ltGray: #cecece;

// primary project colors
$dark_cyan: hsl(185, 75%, 39%);
$very_dark_cyan: hsl(229, 23%, 23%);
$dark_grayish_blue: hsl(227, 10%, 46%);

$dark_gray: hsl(0, 0%, 59%);
$dark_gray_25: hsla(0, 0%, 59%, .25);